<div class="Home">
  <header class="Home__header">
    <h1>Speedrun</h1>
  </header>
  <main class="Home__content">
    <p>This site houses all my projects for the new freeCodeCamp curriculum completed during my June, 2018 Speedrun.</p>
    <section>
      <h2>Notes</h2>
      <div class="Home__notes">
        <mat-card>Completed app setup - Angular fronted / Express backend.</mat-card>
        <mat-card>If you're stuck on a lesson because you can't enter anything in the last line of the code editor, add a blank line to the end of the code. Then, you'll be able to edit the previous line.</mat-card>
        <mat-card>FCC just deployed a rediculously excessive "donate" spammer. To disable the donation popup use
            <code>
              .donation-modal {{ '{' }}
                display: none !important;
                {{ '}' }}
          </code>
        </mat-card>
        <mat-card>
          The UI/UX it horrible. To fix the most blatant issues and configure it to my preferences, I created <a href="https://userstyles.org/styles/161026/fcc-tweaked" target="_blank">this stylus theme</a>.
        </mat-card>
      </div>
    </section>
  </main>
</div>
