<div class="Home">
  <header class="Home__header">
    <h1>Speedrun</h1>
  </header>
  <main class="Home__content">
    <p>This site houses all my projects for the new freeCodeCamp curriculum completed during my June, 2018 Speedrun.</p>
    <section>
      <h2>Notes</h2>
      <div class="Home__notes">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Completed Tribute Page</mat-card-title>
            <mat-card-subtitle>June 9, 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            freeCodeCamp's concept of a "User Story" needs some refinement. A user story is something like "As a user, I can view the
            Tribute page and do or see 'something'" not "I should see an element with id 'x'". These aren't user stories,
            these are test case implementation details. And, while I'm at it, forcing the usage of particular ids is straight
            up ****ed up - my whole implementation is nice and tidy, using meaningful BEM / Scss and I have to toss in some
            random crap named ids that make no sense to use given the css style I'm using. I call bullshit.
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Completed app setup</mat-card-title>
            <mat-card-subtitle>June 8, 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            Completed app setup - Angular fronted / Express backend.</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tip</mat-card-title>
            <mat-card-subtitle>June 7, 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            If you're stuck on a lesson because you can't enter anything in the last line of the code editor, add a blank line to the
            end of the code. Then, you'll be able to edit the previous line.</mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tip</mat-card-title>
            <mat-card-subtitle>June 7, 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            FCC just deployed a rediculously excessive "donate" spammer. To disable the donation popup use
            <code>
              .donation-modal {{ '{' }}
                display: none !important;
                {{ '}' }}
          </code>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Tip</mat-card-title>
            <mat-card-subtitle>June 7, 2018</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            The UI/UX it horrible. To fix the most blatant issues and configure it to my preferences, I created
            <a href="https://userstyles.org/styles/161026/fcc-tweaked" target="_blank">this stylus theme</a>.
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </main>
</div>